@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
